<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="{{navTitle}}"> <ion-content>
<div role="main" class="theme-showcase">
	<header class="container">
		<h1 class="center-block">
			<img src="images/logo.png" alt="AppToDate" />
		</h1>
	</header>
	<section>
		<div class="bg-top margin-top2">&nbsp;</div>
		<div class="profile-pic-bg">

			<div class="dashboard-top-bg edit-profile margin-top">
				<a class="images_class" href="" rel="images"><img id="profilePic"
					class="img-responsive" ng-src="{{imageSrc}}" alt="image" /></a>
			</div>

		</div>
		<div class="bg-top">&nbsp;</div>
		<div class="container">
			<!-- Button Upload -->

			<div class="margin-top2">
				<button type="file" id="btn-skylight" name="button sky light"
					class="btn btn-primary btn-lg btn-block btn-skylight"
					ng-click="UploadPic()">{{uploadBtnText}}</button>
			</div>
			<!-- Button capture -->
			<div class="margin-top2">
				<button type="file" id="btn-green" name="button sky light"
					class="btn btn-primary btn-lg btn-block btn-green"
					ng-click="capturePic()">{{captureBtnText}}</button>
			</div>

			<!-- Button Later -->

			<div class="margin-top2">
				<a href="#/home" id="btn-red" name="button red"
					class="btn btn-primary btn-lg btn-block btn-red">Later</a>
			</div>
		</div>

	</section>
</div>
</ion-content> </ion-view>
