<ion-view title="{{navTitle}}"> <ion-pane> <!-- Nav tabs -->
<ul class="nav nav-tabs fixed-top" id="tab">
	<li data-ng-class="{'active' : tab == 'details'}"><a
		data-ng-click="loadEventDetails()">Details</a></li>
	<li data-ng-class="{'active' : tab == 'attendees'}"><a
		data-ng-click="loadAttendees()">Attendees</a></li>
	<li data-ng-class="{'active' : tab == 'location'}"><a
		data-ng-click="loadGoogleMap()">Location</a></li>
	<li data-ng-class="{'active' : tab == 'notes'}"><a
		data-ng-click="loadNotesTab()">Notes</a></li>
</ul>
<div class="bg margin-top80">
	<!-- Tab panes -->
	<div class="tab-content">

		<div role="main" class="container theme-showcase" id="viewEvent">
			<div class="tab-pane" data-ng-show="tab == 'details'">
				<section class="details-body">
					<div class="event-detail">
						<h4 class="margin-top" data-ng-bind="event.title"></h4>
						<p class="margin-top" data-ng-bind="event.notes"></p>
						<img class="img-responsive"
							ng-src="{{eventImageSource+event.server_id}}" />
					</div>
					<div class="event-box">
						<hr />
						<h3>Event Time</h3>
						<p class="time">{{ event.start | date : 'short'}}</p>
					</div>
				</section>
			</div>
			<div class="tab-pane" data-ng-show="tab == 'attendees'">
				<div class="search-box">
					<section>
						<form role="form">
							<div class="form-group has-feedback">
								<input type="text" class="form-control search" id="search"
									placeholder="Search by name" data-ng-model="attendeeSearch">
								<span class="glyphicon glyphicon-search form-control-feedback"></span>
							</div>
						</form>
					</section>
				</div>
				<div role="main" class="header-events bg">
					<section>
						<div id='attendeeContacts'>
							<div class="table-responsive">
								<table class="table">
									<tbody>
										<tr
											data-ng-repeat="attendee in event.attendees | filter : {'first_name': attendeeSearch}"
											data-ng-click="attendeeClicked(attendee)">
											<td class="contact-text-left">{{attendee.first_name}}</td>
											<td
												data-ng-class="{'contact-text-right-registered': attendee.status == 1}">
												{{statusMessages[attendee.status]}} <span class="glyphicon"
												data-ng-class="{'glyphicon-time': attendee.status == 0.0, 'glyphicon-thumbs-up': attendee.status == 1, 'glyphicon-thumbs-down': attendee.status == 3}"></span>
											</td>
										</tr>
										<tr
											data-ng-repeat="group in event.groups | filter : {'group_name': attendeeSearch}">
											<td class="contact-text-left">{{group.group_name}}</td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</section>
				</div>
			</div>
			<div class="tab-pane" data-ng-show="tab == 'location'">
				<section>
					<div class="form-group has-feedback">
						<h4 class="margin-top" data-ng-bind="event.location_title"></h4>
					</div>
					<div class="margin-top2" id="map" style="height: 350px;"></div>
				</section>
			</div>
			<div class="tab-pane" data-ng-show="tab == 'notes'">
				<div class="note">
					<div class="profile-row margin-top"
						data-ng-repeat="comment in event.comments">
						<div class="profile-sm-pic">
							<div class="profile-sm-top-bg">
								<img class="img-responsive"
									ng-src="{{userImageSource + comment.commentedByClientId}}"
									alt="" />
							</div>
						</div>
						<div class="profile-sm-text">
							<h4>{{comment.commentedByName}}</h4>
							<p>{{comment.text}}</p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="comment">
						<section>
							<form name="commentForm">
								<div class="event-box">
									<div class="form-group">
										<textarea class="form-control" rows="3" name="commentText"
											placeholder="Add New Comment" required=""
											data-ng-model="event.commentText"></textarea>
									</div>
									<div class="margin-top3 margin-bottom">
										<button type="button" id="btn-skylight"
											name="button sky light"
											class="btn btn-primary btn-lg btn-block btn-skylight"
											data-ng-click="postComment(event.commentText)"
											data-ng-disabled="commentForm.$invalid">Add Comment</button>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</div>
			<!-- 		<div class="bottom-box"> -->
			<!-- 			<hr /> -->
			<!-- 			<h2>Are you Attending event?</h2> -->

			<!-- 			<div class="btn-group btn-bottom"> -->
			<!-- 				<button type="button" class="btn btn-default btn-left">May -->
			<!-- 					be</button> -->
			<!-- 				<button type="button" class="btn btn-default btn-middle">Yes</button> -->
			<!-- 				<button type="button" class="btn btn-default btn-right">No</button> -->
			<!-- 			</div> -->
			<!-- 		</div> -->
		</div>
	</div>
</div>
<!-- Dialog model for attendee -->
<div modal="showModal" id="attendeeModal" tabindex="-1" role="modal"
	aria-labelledby="attendeeModalLabel" aria-hidden="true"
	close="cancel()">
	<div class="modal-dialog">
		<div class="modal-content modal-attendee">
			<div class="modal-header modal-head-reminder-bg">
				<button type="button" class="close close-bg" data-dismiss="modal"
					data-ng-click="showModal = false">
					<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
				</button>
				<div class="profile-modal-top-bg">
					<img class="img-responsive"
						ng-src="{{userImageSource + selectedAttendee.user_id}}"
						alt="image" />
				</div>
			</div>
			<div class="modal-body modal-body-attendee">
				<p class="attendeelabel">{{selectedAttendee.first_name}}</p>
				<p class="attendeelabel">{{selectedAttendee.username}}</p>
			</div>
		</div>
	</div>
</div>
</ion-pane> </ion-view>