/* Empty. Add your own CSS if you like */

	.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../img/ionic.png) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}
	
.inner.padded div {
	padding-left: 20px;
	border-top: solid #dee 1px;
}

div.phone, div.email {
background-repeat: no-repeat;
background-position: right center;
background-origin: content-box;
padding-right: 5px;
}
div.phone{
background-image: url('../images/phone.png');
}
div.email{
background-image: url('../images/email.png');
}
div.loading-widget{			
position: absolute;
width: 100%;
height: 100%;
z-index: 1000;
background-color: rgba(255, 255, 255, 0.6);
}
img.img-center{	
display: inline-block;
position: absolute;
top: 46%;
left: 46%;
}
.has-feedback.no-label .form-control-feedback{
	top: 15px;
}
span.glyphicon.form-control-feedback.input-valid {
background-image: url('../images/tick-green.png');
background-repeat: no-repeat;
}
span.glyphicon.form-control-feedback.input-invalid {
background-image: url('../images/cross-red.png');
background-repeat: no-repeat;
}

.form-control .fileinput-filename{
	width: 80px;
	text-overflow: ellipsis;
}

#map{
	width: 100%;
	height: 400px;
}

#viewEvent{
	height: 570px;
}
.edit-profile{
    line-height:180px;
    text-align:center;
}
.edit-profile img{
	vertical-align: middle;
	width:100%;
}
.fc-header-title{
	font-size: 10px;
}
nav {
	position: fixed;
	width: 100%;
	z-index: 100000;
}
.nav-margin{
	height: 40px;
}
/* div.scroll-bar.scroll-bar-v { */
/* display: none; */
/* } */
/* ion-nav-view, ion-view, ion-content{ */
/* 	display:block; */
/* } */